*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

p {
    text-align: center;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image{
    flex:1;
    margin-right: 40px;
    overflow:hidden;  
}

.about-image img{
    max-width:100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img{
    transform: scale(1.2);
}
.about.content{
    flex: 1;

}

.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;

}

.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}

.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    color: #ef2929;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.about-content .read-more:hover{
    background-color: #2cdee8;

}

@media screen and (max-width:768px){
    .heading{
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction:column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;

    }

    .about-content p{
        padding: 0px;
        font-size: 16px;
    }

    .about-content .read-more
}

.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading h1 {
    font-size: 50px;
    color:#000;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: aqua;
}

.heading p {
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

body{

   background-color: #d5ddb8;
  
}

nav{
    background-color: rgb(178, 199, 199);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;

}

nav a:hover{
    background-color: antiquewhite;
}

nav li:first-child{
    margin-right: auto;
}






footer-container {
    
    display: flex;
    align-items: center;
    background-color: rgb(45, 28, 28);
    padding: 10px;
    justify-content: center;
    
  }
  
  .socialIcons {
    background-color: rgb(127, 178, 255);
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 20px;
    color: rgb(98, 100, 115);
    width: 100%;
  }
  
  .designer {
    font-weight: bold;
    background-color: rgb(115, 112, 132);
  }

  .footerBottom {
    background-color: rgb(145, 168, 178);
  }

